<div class="row">

  <div class="col-md-4"></div>

  <div class="col-md-4">
    <div id="myModal" class="modal">
      <div class="modal-content">

        <i class="fas icon fa-times" (click)="setOpenEvent(false)"></i>
        <h2 class="text-center">Add Product</h2>

        <form [formGroup]="productForm" (ngSubmit)="add()">

          <div class="form-group mt-2 col-10">
            <label for="name-item">name:</label>
            <input id="name-item" type="text" class="form-control input-new-item" formControlName="name"  [ngClass]="{ 'is-invalid': getConroller('name')?.errors &&  getConroller('name')?.touched}"
              placeholder="Name" />
          </div>

          <div class="form-group mt-2 col-10">
            <label for="price-item">price:</label>
            <input id="price-item" class="form-control input-new-item" type="number" formControlName="price" [ngClass]="{ 'is-invalid': getConroller('price')?.errors &&  getConroller('price')?.touched}"
              placeholder="Price" />
          </div>

          <div class="form-group mt-2 col-10">
            <label for="quantity-item">Quentity:</label>
            <input id="quantity-item" class="form-control input-new-item" type="number" formControlName="quentity" placeholder="Quentity" [ngClass]="{ 'is-invalid': getConroller('quentity')?.errors &&  getConroller('quentity')?.touched}"/>
          </div>

          <div class="form-group mt-2 col-10">
            <label for="quantity-item">category:</label>
            <input id="quantity-item" class="form-control input-new-item" type="text" formControlName="category" placeholder="Category" [ngClass]="{ 'is-invalid': getConroller('category')?.errors &&  getConroller('category')?.touched}"/>
          </div>
          <div class="form-group buttons-modal">
            <button type="submit" class="btn btn-success">Add Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4"></div>
</div>
